* {
  margin: 0;
  padding: 0;
}

/* ------ Page Layout CSS ------ */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
}

#container1 {
  padding: 0 1em 1em 1em;
}

@media screen and (min-width: 1200px) and (min-height: 750px) {
  #container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    max-width: 90%;
    max-height: 90%;
  }
  
  #container1 {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    max-width: 40%;
  }
  
  .portrait {
    align-items: flex-end;
    justify-content: center;
    max-width: 60%;
  }
}

/* --- Dan's CSS --- */
.sect1-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  /* margin-left: 2em;
  padding-right: 2em; */
  /* width: 40%; */
  min-width: 26em;
  /* height: 37em; */
}

.sect1-container h1 {
  /* margin-left: 1em; */
  align-self: center;
  font-size: 60px;
  font-weight: bold;
}

.input-container {
  border: 1px solid black;
  display: flex;
  align-items: center;
  height: 4em;
  border-radius: 30px;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 3em;
}

.input-container input {
  border: none;
  border-radius: 30px;
  width: 98%;
  height: 3.5em;
  padding-left: 1em;
}

.input-container input:focus {
  outline: none;
}

.n-icon, .e-icon, .pw-icon {
  margin-left: 2em;
}

.n-icon {
  height: 20px;
  padding-left: 6px;
}

.input-button {
  text-align: center;
  margin-top: 3em;
}

.input-button button {
  height: 2.5em;
  width: 9em;
  border-radius: 30px;
  background-color: rgb(17, 93, 192);
  border: none;
  color: white;
  font-size: x-large;
  font-weight: bold;
}
/* --- Dan's CSS --- */
/* ------------ Devin's CSS ----------- */
.dcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "dtext dtext dtext dtext"
    "facebook twitter google linkedin"
}

.dtext {
  grid-area: dtext;
  font-size: 1em;
  font-weight: 500;
}

.facebook {
  grid-area: facebook;
}

.twitter {
  grid-area: twitter;
}

.google {
  grid-area: google;
}

.linkedin {
  grid-area: linkedin;
}

.dtext, .facebook, .twitter, .google, .linkedin {
  display: grid;
  justify-items: center;
  align-items: center;
}

.dlinks {
    text-decoration: none;
}

.color-facebook, .color-twitter, .color-google, .color-linkedin {
    color: black;
    justify-items: center;
    align-items: center;
    display: grid;
    width: 2em;
    height: 2em;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 2em;
}
/* ------------ Devin's CSS ----------- */
/* ------------ Moe's CSS ----------- */
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}